<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <title>Goal Setting</title>
  <style>
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .card {
      width: 45%;
      margin: 10px;
      position: relative;
    }

    .card-img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .card-img-overlay {
      color: #fff;
    }
  </style>
</head>

<body>
  <header>
    <div class="d-flex justify-content-between align-items-center">
      <h1>My Fitness Journey</h1>
      <div class="banner">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dashboard" onclick="setActive(this)">Activity
                  Feed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/goalsetting" onclick="setActive(this)">Goal Setting</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/plans" onclick="setActive(this)">Plans</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/friends" onclick="setActive(this)">Friends</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/progress" onclick="setActive(this)">Progress</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="search-bar">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success me-2" type="submit">Search</button>
        <button class="btn btn-outline-danger" type="submit">Logout</button>
      </div>
    </div>
  </header>

  <main>
    <div class="container">
      <!-- Card 1: Running -->
      <div class="card text-bg-dark">
        <a href="{{ url_for('goalsetting_new', goal_type='Running') }}">
          <img src="../static/Running.jpg" class="card-img" alt="Running">
          <div class="card-img-overlay">
            <h5 class="card-title">Running</h5>
            <p class="card-text">Set your running goals.</p>
          </div>
        </a>
      </div>
      

      <!-- Card 2: Cycling -->
      <div class="card text-bg-dark">
        <a href="{{ url_for('goalsetting_new', goal_type='Cycling') }}">
          <img src="../static/Cycling.jpg" class="card-img" alt="Cycling">
          <div class="card-img-overlay">
            <h5 class="card-title">Cycling</h5>
            <p class="card-text">Set your cycling goals.</p>
          </div>
        </a>
      </div>
        

      <!-- Card 3: Gym -->
      <div class="card text-bg-dark">
        <a href="{{ url_for('goalsetting_new', goal_type='Gym') }}">
          <img src="../static/Gym.jpg" class="card-img" alt="Gym">
          <div class="card-img-overlay">
            <h5 class="card-title">Gym</h5>
            <p class="card-text">Set your gym goals.</p>
          </div>
        </a>
      </div>

      <!-- Card 4: Hiking -->
      <div class="card text-bg-dark">
        <a href="{{ url_for('goalsetting_new', goal_type='Gym') }}">
          <img src="../static/Hiking.jpg" class="card-img" alt="Hiking">
          <div class="card-img-overlay">
            <h5 class="card-title">Hiking</h5>
            <p class="card-text">Set your hiking goals.</p>
          </div>
        </a>
      </div>

      <!-- Card 5: Yoga -->
      <div class="card text-bg-dark">
        <a href="{{ url_for('goalsetting_new', goal_type='Yoga') }}">
          <img src="../static/Yoga.jpg" class="card-img" alt="Yoga">
          <div class="card-img-overlay">
            <h5 class="card-title">Yoga</h5>
            <p class="card-text">Set your yoga goals.</p>
          </div>
        </a>
      </div>

      <!-- Card 6: Rowing -->
      <div class="card text-bg-dark">
        <a href="{{ url_for('goalsetting_new', goal_type='Rowing') }}">
          <img src="../static/Rowing.jpg" class="card-img" alt="Rowing">
          <div class="card-img-overlay">
            <h5 class="card-title">Rowing</h5>
            <p class="card-text">Set your rowing goals.</p>
          </div>
        </a>
      </div>
      <!-- Card 7: Walking -->
      <div class="card text-bg-dark">
        <a href="{{ url_for('goalsetting_new', goal_type='Walking') }}">
          <img src="../static/Walking.jpeg" class="card-img" alt="Walking">
          <div class="card-img-overlay">
            <h5 class="card-title">Walking</h5>
            <p class="card-text">Set your walking goals.</p>
          </div>
        </a>
      </div>
     <!-- Offcanvas for Running -->
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    function setActive(element) {
      var items = document.getElementsByClassName("nav-link");
      for (var i = 0; i < items.length; i++) {
        items[i].classList.remove("active");
      }
      element.classList.add("active");
    }
  </script>
</body>

</html>