.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    width: 45%;
    margin: 10px;
    position: relative;
  }

  .card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .card-img-overlay {
    color: #fff;
  }
/* Navbar Styles */
.navbar.light-mode {
  background-color: #f8f9fa;
  color: #343a40;
}

.navbar.light-mode .nav-link {
  color: #343a40; /* Dark text color for links */
}
.navbar.dark-mode {
  background-color: #343a40;
  color: #f8f9fa;
}

.navbar.dark-mode .nav-link {
  color: #f8f9fa; /* Light text color for links */
}

/* Normal link color */
.nav-link {
  color: #343a40;
}


/* Hover effect */
.nav-link:hover {
  color: #00bfff !important; /* Change this color to your preferred hover color */
}

.navbar .nav-link.active {
  color: #FF8343 !important;
  font-weight: bold;
}

body.light-mode {
    
    background-color: #343a40;
    color: #f8f9fa;
}

body.dark-mode {
  background-color: #f8f9fa;
    color: #343a40;
}
header h5 {
  font-size: 50px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.twelve h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
}

.twelve h1:before, .twelve h1:after {
  background-color: #c50000;
  content: '';
  display: block;
  height: 3px;
  width: 75px;
}
.twelve h1:after {
    background-color: #c50000;
    content: '';
    display: block;
  position:absolute; right:61.90em; bottom:0;
    height: 3px;
    width: 75px;
    margin-bottom: 0.25em;
}

/* Style 7
 ----------------------------- */
.seven h1 {
  text-align: center;
      font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
      text-transform: uppercase;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .seven h1:after,.seven h1:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #c50000;
      border-top: 1px solid #c50000;
      height: 5px;
    background-color:#f8f8f8;
  }
  figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
  }
  figure > * {
    grid-area: 1/1;
    transition: .4s;
  }
  figure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #0000;
    padding: .75rem;
    background: var(--c,#0009);
    clip-path: inset(0 var(--_i,100%) 0 0);
    -webkit-mask:
      linear-gradient(#000 0 0),
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
  }
  figure:hover figcaption{
    --_i: 0%;
  }
  figure:hover img {
    transform: scale(1.2);
  }
  @supports not (-webkit-mask-clip: text) {
    figure figcaption {
     -webkit-mask: none;
     color: #fff;
    }
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    background: #425a52;
  }